antiorm
appdirs
arabic-reshaper
build
buildozer
certifi
charset-normalizer
colorama
Cython
db
db-sqlite3
distlib
docutils
ffpyplayer
filelock
filetype
idna
Jinja2
Kivy
Kivy-Garden
MarkupSafe
packaging
pexpect
pillow
pip
platformdirs
ptyprocess
Pygments
pyproject_hooks
python-bidi
requests
setuptools
sh
toml
urllib3
virtualenv
wheel